*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body{
  background: #e8e8e8;
}

.emergente{
  background:rgba(140, 140, 140, 0.75) ;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}

/*Estilos de los iconos*/
.icons li{
  display: inline-block;
  margin: 2px;
  list-style: none;
}
.icons li img{
  height: 20px;
  width: 20px;
}
.icons{
  float: right;
}


/*Estilos de las tarjetas*/
.nota{
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  /*display: inline-block;*/
  /*
  margin: 10px;
  max-height: 500px;
  max-width: 300px;
  min-height: 140px;
  min-width: 90px;*/
  /*padding: 5px;*/
  /*vertical-align: top;*/
  /*background: #f6f400*/
}

/*Estilos del Tablero*/
.tablero{

}

/*Pantalla*/
